:root {
  --primary-color: #adf0d4;
  --secondary-color: #1fd8a4;
  --bg-color: #0d1512;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
}

.darkerText {
  color: var(--secondary-color);
}

header,
main,
footer {
  max-width: 700;
  margin: 0 auto;
}
